$fontGray:#606266;
$fontWhite:#fff;
$headerBg:#efefef;
$borderLightGray:#e6e6e6;
$borderHighGray:#dcdfe6;
$greenBg:#42b983;
$hanbaoHover:#ecf5ff;

$menuBg:#0d1927;
$menuOpenedBg: #152a40;
$menuActiveFont: #33a4f8;

$formLabel:#353535;
$warnColor: #fd182d;
